In [128]:
import numpy as np
import pandas as pd
import re

## Cleaning CSV file for database

In [129]:
df = pd.read_csv('profiles_revised.csv')
col_to_drop = ['body_type', 'drugs', 'height', 'income', 'offspring', 'orientation', 'sign', 'status']
df.drop(columns=col_to_drop, inplace=True)

In [130]:
df.columns

Index(['age', 'diet', 'drinks', 'education', 'ethnicity', 'job', 'pets',
       'religion', 'sex', 'smokes', 'speaks'],
      dtype='object')

In [131]:


df.fillna('other', inplace=True)

In [132]:
df['diet'] = df['diet'].apply(lambda x: x.split()[-1])
df.diet.unique()

array(['anything', 'other', 'vegetarian', 'vegan', 'halal', 'kosher'],
      dtype=object)

In [133]:
df['ethnicity'] = df['ethnicity'].apply(lambda x: x.split(', ')[0])

df['ethnicity'].replace({'asian': 'Asian', 'white':'Caucasian', 'hispanic / latin': 'Hispanic/Latin',
                            'pacific islander': 'Pacific Islander', 'black': 'Afro-American', 'middle eastern': 'Middle Eastern',
                            'native american': 'Native American', 'indian': 'Indian'}, inplace=True)

df.ethnicity.unique()

array(['Asian', 'Caucasian', 'other', 'Hispanic/Latin',
       'Pacific Islander', 'Afro-American', 'Middle Eastern',
       'Native American', 'Indian'], dtype=object)

In [134]:
df['drinks'].replace({'desperately': 'other'}, inplace=True)
df['drinks'].unique()

array(['socially', 'often', 'not at all', 'rarely', 'other', 'very often'],
      dtype=object)

In [135]:
df['education'].unique()

array(['working on college/university', 'working on space camp',
       'graduated from masters program',
       'graduated from college/university', 'working on two-year college',
       'other', 'graduated from high school',
       'working on masters program', 'graduated from space camp',
       'college/university', 'dropped out of space camp',
       'graduated from ph.d program', 'graduated from law school',
       'working on ph.d program', 'two-year college',
       'graduated from two-year college', 'working on med school',
       'dropped out of college/university', 'space camp',
       'graduated from med school', 'dropped out of high school',
       'working on high school', 'masters program',
       'dropped out of ph.d program', 'dropped out of two-year college',
       'dropped out of med school', 'high school',
       'working on law school', 'law school',
       'dropped out of masters program', 'ph.d program',
       'dropped out of law school', 'med school'], dtype=object)

In [136]:
df['education'] = df['education'].str.replace('working on ', '')
df['education'] = df['education'].str.replace('graduated from ', '')
df['education'] = df['education'].str.replace('dropped out of ', '')

df.education.unique()

array(['college/university', 'space camp', 'masters program',
       'two-year college', 'other', 'high school', 'ph.d program',
       'law school', 'med school'], dtype=object)

In [137]:
df['job'].replace({'rather not say': 'other'}, inplace=True)
df.job.unique()

array(['transportation', 'hospitality / travel', 'other', 'student',
       'artistic / musical / writer', 'computer / hardware / software',
       'banking / financial / real estate', 'entertainment / media',
       'sales / marketing / biz dev', 'medicine / health',
       'science / tech / engineering', 'executive / management',
       'education / academia', 'clerical / administrative',
       'construction / craftsmanship', 'political / government',
       'law / legal services', 'unemployed', 'military', 'retired'],
      dtype=object)

In [163]:
df.pets

0        likes dogs and likes cats
1        likes dogs and likes cats
2                         has cats
3                       likes cats
4        likes dogs and likes cats
                   ...
59941                     has dogs
59942    likes dogs and likes cats
59943                        other
59944    likes dogs and likes cats
59945    likes dogs and likes cats
Name: pets, Length: 59946, dtype: object

In [147]:
string = df.pets.iloc[0]
string

'likes dogs and likes cats'

In [185]:
match = re.match('([a-z]*) cats', string)
match.group(1)

AttributeError: 'NoneType' object has no attribute 'group'

In [177]:
df['dogs'] = df.pets.apply(lambda x: re.match('([a-z]*) dogs', string)[1])
# df['cats'] = df.pets.apply(lambda x: re.match('([a-z]*) cats', string)[1])
df.dogs.unique()

array(['likes'], dtype=object)

In [164]:
df.cats

0        likes
1        likes
2        likes
3        likes
4        likes
         ...
59941    likes
59942    likes
59943    likes
59944    likes
59945    likes
Name: cats, Length: 59946, dtype: object

In [139]:
df['religion'] = df['religion'].apply(lambda x: x.split()[0])
df.religion.unique()

array(['agnosticism', 'other', 'atheism', 'christianity', 'catholicism',
       'buddhism', 'judaism', 'hinduism', 'islam'], dtype=object)

In [140]:
df.sex.value_counts()

m    35829
f    24117
Name: sex, dtype: int64

In [141]:
df.smokes.unique()

array(['sometimes', 'no', 'other', 'when drinking', 'yes',
       'trying to quit'], dtype=object)

In [142]:
df.speaks.unique()

array(['english', 'english (fluently), spanish (poorly), french (poorly)',
       'english, french, c++', ...,
       'english (fluently), hindi (poorly), french (poorly), tamil (okay), spanish (poorly)',
       'english (fluently), french (poorly), japanese (poorly), latin (poorly)',
       'english (fluently), french, farsi'], dtype=object)

In [143]:
string = df.speaks.iloc[1]
re.sub(' (\([a-z]*\))', '', string)

'english, spanish, french'

In [144]:
df['speaks'] = df.speaks.apply(lambda x: re.sub(' (\([a-z]*\))', '', x))

In [145]:
df['speaks'] = df['speaks'].apply(lambda x: re.sub('(, c\++)', '', x))
df['speaks'] = df['speaks'].str.split(' ,')