In [24]:
import numpy as np
import pandas as pd
import re

## Cleaning CSV file for database

In [25]:
df = pd.read_csv('profiles_revised.csv')
col_to_drop = ['body_type', 'drugs', 'height', 'income', 'offspring', 'orientation', 'sign', 'status']
df.drop(columns=col_to_drop, inplace=True)

In [26]:
df.columns

Index(['age', 'diet', 'drinks', 'education', 'ethnicity', 'job', 'pets',
       'religion', 'sex', 'smokes', 'speaks'],
      dtype='object')

In [27]:


df.fillna('other', inplace=True)

In [28]:
df['diet'] = df['diet'].apply(lambda x: x.split()[-1])
df.diet.unique()

array(['anything', 'other', 'vegetarian', 'vegan', 'halal', 'kosher'],
      dtype=object)

In [29]:
df['ethnicity'] = df['ethnicity'].apply(lambda x: x.split(', ')[0])

df['ethnicity'].replace({'asian': 'Asian', 'white':'Caucasian', 'hispanic / latin': 'Hispanic/Latin',
                            'pacific islander': 'Pacific Islander', 'black': 'Afro-American', 'middle eastern': 'Middle Eastern',
                            'native american': 'Native American', 'indian': 'Indian'}, inplace=True)

df.ethnicity.unique()

array(['Asian', 'Caucasian', 'other', 'Hispanic/Latin',
       'Pacific Islander', 'Afro-American', 'Middle Eastern',
       'Native American', 'Indian'], dtype=object)

In [30]:
df['drinks'].replace({'desperately': 'other'}, inplace=True)
df['drinks'].unique()

array(['socially', 'often', 'not at all', 'rarely', 'other', 'very often'],
      dtype=object)

In [31]:
df['education'].unique()

array(['working on college/university', 'working on space camp',
       'graduated from masters program',
       'graduated from college/university', 'working on two-year college',
       'other', 'graduated from high school',
       'working on masters program', 'graduated from space camp',
       'college/university', 'dropped out of space camp',
       'graduated from ph.d program', 'graduated from law school',
       'working on ph.d program', 'two-year college',
       'graduated from two-year college', 'working on med school',
       'dropped out of college/university', 'space camp',
       'graduated from med school', 'dropped out of high school',
       'working on high school', 'masters program',
       'dropped out of ph.d program', 'dropped out of two-year college',
       'dropped out of med school', 'high school',
       'working on law school', 'law school',
       'dropped out of masters program', 'ph.d program',
       'dropped out of law school', 'med school'], dtype=object)

In [32]:
df['education'] = df['education'].str.replace('working on ', '')
df['education'] = df['education'].str.replace('graduated from ', '')
df['education'] = df['education'].str.replace('dropped out of ', '')

df.education.unique()

array(['college/university', 'space camp', 'masters program',
       'two-year college', 'other', 'high school', 'ph.d program',
       'law school', 'med school'], dtype=object)

In [33]:
df['job'].replace({'rather not say': 'other'}, inplace=True)
df.job.unique()

array(['transportation', 'hospitality / travel', 'other', 'student',
       'artistic / musical / writer', 'computer / hardware / software',
       'banking / financial / real estate', 'entertainment / media',
       'sales / marketing / biz dev', 'medicine / health',
       'science / tech / engineering', 'executive / management',
       'education / academia', 'clerical / administrative',
       'construction / craftsmanship', 'political / government',
       'law / legal services', 'unemployed', 'military', 'retired'],
      dtype=object)

In [34]:
df.pets

0        likes dogs and likes cats
1        likes dogs and likes cats
2                         has cats
3                       likes cats
4        likes dogs and likes cats
                   ...
59941                     has dogs
59942    likes dogs and likes cats
59943                        other
59944    likes dogs and likes cats
59945    likes dogs and likes cats
Name: pets, Length: 59946, dtype: object

In [35]:
cats  = []
dogs = []
for i, string in enumerate(df.pets.values):
    match_cats = re.search('([a-z]*) cats', string)
    match_dogs = re.search('([a-z]*) dogs', string)
    cats.append(match_cats[1] if match_cats else 'other')
    dogs.append(match_dogs[1] if match_dogs else 'other')

df['cats'] = cats
df['dogs'] = dogs

In [36]:
df.cats.unique()

array(['likes', 'has', 'other', 'dislikes'], dtype=object)

In [37]:
df.drop(columns='pets', inplace=True)

In [38]:
df['religion'] = df['religion'].apply(lambda x: x.split()[0])
df.religion.unique()

array(['agnosticism', 'other', 'atheism', 'christianity', 'catholicism',
       'buddhism', 'judaism', 'hinduism', 'islam'], dtype=object)

In [39]:
df.sex.value_counts()

m    35829
f    24117
Name: sex, dtype: int64

In [40]:
df.smokes.unique()

array(['sometimes', 'no', 'other', 'when drinking', 'yes',
       'trying to quit'], dtype=object)

In [41]:
df.speaks.unique()

array(['english', 'english (fluently), spanish (poorly), french (poorly)',
       'english, french, c++', ...,
       'english (fluently), hindi (poorly), french (poorly), tamil (okay), spanish (poorly)',
       'english (fluently), french (poorly), japanese (poorly), latin (poorly)',
       'english (fluently), french, farsi'], dtype=object)

In [42]:
string = df.speaks.iloc[1]
re.sub(' (\([a-z]*\))', '', string)

'english, spanish, french'

In [43]:
df['speaks'] = df.speaks.apply(lambda x: re.sub(' (\([a-z]*\))', '', x))

In [44]:
df['speaks'] = df['speaks'].apply(lambda x: re.sub('(, c\++)', '', x))
df['speaks'] = df['speaks'].str.split(' ,')

In [55]:
assert df['diet'].isin(['anything', 'vegetarian', 'vegan', 'kosher', 'halal', 'other']).all()
assert df['drinks'].isin(['very often', 'often', 'socially', 'rarely', 'not at all', 'other']).all()
# assert df['education'].isin(['high school', 'university', 'masters program', 'other']).all()
assert df['ethnicity'].isin(['Asian', 'Middle Eastern', 'Indian', 'Pacific Islander',
                        'Hispanic/Latin', 'European', 'Native American', 'Afro-American', 'Caucasian', 'other']).all()
# assert df['job'].isin(['student', 'art/music/writing', 'banking/finance', 'administration', 'technology',
#                         'construction', 'education', 'entertainment/media', 'management', 'hospitality', 'law',
#                         'medicine', 'military', 'politics/government', 'sales/marketing', 'science/engineering',
#                         'transportation', 'unemployed', 'other', 'rather not say', 'retired']).all()
assert df['cats'].isin(['has', 'likes', 'dislikes', 'other']).all()
assert df['dogs'].isin(['has', 'likes', 'dislikes', 'other']).all()
# assert df['religion'].isin(['agnosticism', 'atheism', 'Christianity', 'Judaism', 'Catholicism', 'Islam', 'Hinduism', 'Buddhism', 'other']).all()
assert df['sex'].isin(['f', 'm']).all()
# assert df['smokes'].isin(['yes', 'sometimes', 'when drinking', 'trying to quit', 'no']).all()

AssertionError:

In [23]:
df.to_csv('profiles_for_db.csv', index=False)